APP_NAME=multi-source-rag
ENVIRONMENT=dev
LOG_LEVEL=INFO
GROQ_API_KEY=
AZURE_STORAGE_CONNECTION_STRING=
AZURE_CONTAINER_NAME=
AWS_S3_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION_NAME=us-east-1
QDRANT_URL=