pydantic-settings==2.7.1
structlog==24.4.0
unstructured[pdf,csv]==0.16.11
sentence-transformers==3.3.1
qdrant-client==1.12.1
groq==0.13.0
azure-storage-blob==12.24.0
requests==2.32.3
boto3==1.35.0
fastapi==0.115.6
uvicorn==0.34.0
rank_bm25==0.2.2